<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Forward/Backward time in seconds</string>
		</dict>
		<dict>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>de.iakdev.mctivatorprefs</string>
			<key>key</key>
			<string>time</string>
			<key>label</key>
			<string>time in seconds</string>
		</dict>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
			<key>footerText</key>
			<string>© 2016 iakd</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Developed by iakd</string>
			<key>action</key>
			<string>composeEmailDev</string>
		</dict>
	</array>
	<key>title</key>
	<string>MCtivator</string>
</dict>
</plist>
